body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

.chat-container {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.header {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-weight: 700;
}

.chat-box {
  height: 400px;
  overflow-y: scroll;
  padding: 20px;
  border-bottom: 1px solid #eee;
  transition: all 0.3s ease-in-out;
}

.chat-box::-webkit-scrollbar {
  width: 6px;
}

.chat-box::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.input-container {
  display: flex;
  padding: 20px;
  background-color: #f9f9f9;
}

#user-input {
  flex: 1;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out;
  border-radius: 30px;
}

#user-input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.message {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  max-width: 70%;
  animation: fadeIn 0.5s ease-in-out;
}

.message.user {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

.message.bot {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
  border-radius: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .chat-box {
    height: 300px;
  }

  .input-container {
    flex-direction: column;
  }

  #user-input {
    margin: 0 0 10px 0;
  }

  button {
    width: 100%;
  }
}

label {
  position: absolute;
  width: 45px;
  height: 22px;
  right: 20px;
  top: 20px;
  border: 2px solid #000;
  border-radius: 20px;
}
/** Dark Mode Toggle Button **/
label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #000;
  transition: 0.4s;
}

label.active::before {
  left: 24px;
  background-color: #fff;
}

body.dark {
  background: #000;
  color: #fff;
}

@media (max-width:600px) {
  main p{
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
